@import 'core/reset';

.page {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: blue;
  padding: 60px 40px;

  ::first-letter{
    text-transform: capitalize;
  }
}

.series__list {
  list-style: none;
}
.show--li {
  padding: 15px;
  text-align: center;
  color: pink;
}
.faveShow {
  background-color: pink;
  color: white;
}

.shows__box {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.favs__box {
  background-color: yellow;
}

.searched__box {
    background-color: green;
}
