<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>m2 - evalucación final</title>
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body class="page">

  <main class="main__box">
    <h1 class="title">buscador de series</h1>

    <label for="name">Please, enter the name of the serie you are looking for:</label>
    <div class="input__box">
    <input type="text" id="serie-name" name="name" class="input--serie" value="lost"/>
    </div>

    <ul class="series__list">
      <li class="serie__item">
        <img src="https://via.placeholder.com/210x295/ffffff/666666/?text=TV" alt="serie's image" class="serie__img">

        <h2 class="serie__title"></h2>
      </li>

    </ul>


  </main>

 <!--    <partial src="_header.html" label="Header"></partial>
    <partial src="_link.html" aClass="link__github" text="GitHub" url="https://github.com"></partial> -->

<script src="assets/js/main.js"></script>
</body>
</html>
